*.o
*.gch
*.log
*.dep
*.status
*.deps
*.obj
*.tlog
*.pdb
*.ilk
*.idb
*.user
*.lastbuildstate
*.manifest
.sconsign.dblite
.sconf_temp
*.idb
*.pdb
src/.deps/
src/vs/mocha/mocha/Debug/
src/vs/mocha/mocha/Release/
src/vs/mocha/Debug/
src/vs/mocha/ipch/

Makefile
config.h
stamp-h1