*.o
*.gch
*.log
*.dep
*.status
*.deps
*.obj
*.tlog
*.pdb
*.ilk
*.idb
*.user
*.lastbuildstate
*.manifest
.sconsign.dblite
.sconf_temp
*.idb
*.pdb
.DS_Store
src/.deps/
src/vs/mocha/mocha/Debug/
src/vs/mocha/mocha/Release/
src/vs/mocha/Debug/
src/vs/mocha/ipch/
config.h

