$css{css/header.css}
<div id="header" class="clearfix">
    <a id="logo" href="index.html"><img src="images/logo_min.png" href="mocha es next translator and javascript compressor" /></a>
    <div id="navWrapper">
	<ul id="nav" class="text12 clearfix">
	    <li><a href="es_next_detail.html" ${active_grammar}>Grammar Reference</a></li>
	    <li><a href="first_step_guide.html" ${active_first_step}>First Step Guide</a></li>
	    <li><a href="#" ${active_api}>API Reference</a></li>
	</ul>
    </div>
</div>
