<!doctype html>
<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>mocha</title>
	$css{css/main.css}
	$css{css/index.css}
	$css{css/button.css}
	<link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
	<!--[if IE 6]>
	    $script{js/lib/dd_belatedpng.js}
	    <![endif]-->
	$script{js/index.js}
    </head>
    <body>
	<div id="trademarkWrapper">
	    <div id="trademarkArea">
		<div id="line"></div>
		<div id="bg"></div>
		<div id="trademarkInner" class="clearfix">
		    <div id="logo">
			<img src="images/logo.png" alt="mocha es next translator and javascript compiler" />
		    </div>
		    <div class="downloads">
			<ul class="buttons clearfix">
			    <li><a class="button text12" id="download" href="javascript:void(0)">Download</a></li>
			    <li><a class="button text12" href="https://github.com/brn/mocha" id="github">Follow me on github</a></li>
			</ul>
		    </div>
		</div>
	    </div>
	</div>
	<div id="contents">
	    <div id="inner">
		<h1 id="hero" class="text14">${hero_sub}</h1>
		<dl class="sp text12">
		    <dt class="mark">${sp_translate}</dt>
		    <dd>${sp_translate_sub}</dd>
		    <dt class="mark text12">${sp_cmp}</dt>
		    <dd class="text12">${sp_cmp_sub}</dd>
		    <dt class="mark text12">${sp_module}</dt>
		    <dd class="text12">${sp_module_sub}</dd>
		    <dt class="mark text12">${sp_version}</dt>
		    <dd class="text12">${sp_version_sub}</dd>
		    <dt class="mark text12">${sp_error_handler}</dt>
		    <dd class="text12">${sp_error_handler_sub}</dd>
		    <dt class="mark text12">${sp_test}</dt>
		    <dd class="text12">${sp_test_sub}</dd>
		</dl>
		<div id="learnMore">
		    <a href="es_next_detail.html" class="blueButton text14 fixed">See usage and api references</a>
		</div>
	    </div>
	</div>
	<div id="footer">
	</div>
	<!--[if lt IE 9]>
	    <style>
		.button{
		background : #FFFF00;
		display : block;
		}
		.button:hover{
		background : #AAAA00;
		}
		.blueButton{
		background : #69b7ff;
		display : block;
		}
		.blueButton:hover{
		background : #4795dd;
		}
		.fixed {
		width : 300px;
		}
	    </style>
	    <![endif]-->
    </body>
</html>
