@charset "utf-8";

/*****--- RESET STYLE ---*****/

html {
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section {
	margin: 0;
	padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content: '';
}
object,
embed {
	vertical-align: top;
}
hr,legend {
	display: none;
}
img,abbr,acronym,fieldset {
	border: 0;
}

/*--- default */
body {
	background: #FFF;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	color: #333;
	font-size: small;
	font-family: verdana,Sans-Serif;
	line-height: 1.5;
}
* html body {	/* for IF6 */
	font-family: Sans-Serif;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*****--- BASIC STYLE ---*****/

body, html {
	font-size:90%;
}
a:link {
	color:#369;
}
a:visited {
	color:#369;
}
a:hover {
	color:#f00;
}
a:active {
}
a:hover .rollover{
	opacity:0.7;
	filter: alpha(opacity=70);
}
a:hover *{
	cursor:pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
    margin:.8em 0 .2em 0;
	line-height:1em;
}
h1 {
	font-size:1.8em;
	margin-bottom:.5em;
	font-weight:bold;
}
h2 {
	font-size:1.6em;
	margin-bottom:.5142em;
	padding-top:.2em;
	font-weight:bold;
}
h3 {
	font-size:1.2em;
	margin-bottom:.7em;
	padding-top:0;
	font-weight:bold;
	color:#555;
}
h4 {
	border-left:4px solid #555;
	padding:6px;
	font-size:1em;
	margin-top:1.5em;
	margin-bottom:.6em;
	font-weight:bold;
	background-color:#EEEEEE;
}
h5, h6 {
	font-size:1em;
	margin-bottom:.5em;
	font-weight:bold;
}
p, blockquote, ul, ol, dl, form, table, pre {
	line-height:1.5em;
	margin:0 0 1em;
}
ul, ol, dl {
	padding:0;
}
ul ul, ul ol, ol ol, ol ul, dd {
	margin:0;
}
li {
	margin:0 0 0 1.5em;
	display:list-item;
	list-style-position:outside;
}
blockquote,
dd {
	padding:0 0 0 2em;
}
pre, code, samp, kbd, var {
	font:100% mono-space,monospace;
}
pre {
	overflow:auto;
}
abbr,
acronym {
	text-transform:uppercase;
	border-bottom:1px dotted #000;
	letter-spacing:1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
small {
	font-size:.9em;
}
sup, sub {
	font-size:.8em;
}
em, cite, q {
	font-style:italic;
}
img {
	border:none;
}
ins {
	text-decoration:none;
	color:#900;
	font-style:italic;
}
code {
	color:#555;
}
pre{
	margin-left:2em;
	padding-left:2em;
	border-left:1px solid #ccc;
}
blockquote{
	margin-left:2em;
	border-left:1px solid #ccc;
	font-style:italic;
}
dt {
	font-weight:bold;
}
fieldset {
	border:1px solid #ccc;
	padding:1em 1.5em;
	margin:0 0 1.5em 0;
}
legend {
	display:block;
	font-weight:bold;
	padding:2px 5px;
	color:#222;
}


/*****--- TABLE STYLE ---*****/

table {
	width:100%;
	border-collapse: collapse;
	margin: 10px 0px;
}
tr {
	background: #FFF;
}
tr.altrow {
	background: #F9F9F9;
}
th,
caption {
	text-align:left;
}
th,
td {
	padding: .5em;
	line-height:1.5em;
	border:1px solid #ddd;
	text-align: left;
	font-size:0.9em
}
th {
	color: #555;
	background: #f2f2f2;
	padding: .5em .5em;
  	font-weight:bold;
}
td {
	padding: .5em;
}
caption {
	font-style:italic;
	color:#777;
	margin:.5em 0;
}



/*****--- FORM STYLE ---*****/

form {
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #DDDDDD;
	background: #F2F2F2;
}
form div {
	padding: 12px 0 5px 0;	margin: 0;
}
form div.cleditorMain, form div.cleditorMain div{
	padding:0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
form fieldset div {
	border-bottom: 1px solid #E6E6E6;
	color: #666666;
}
form div.col {
	clear:none;
}
form div.first {
	clear:both;
}
form div {
	overflow:hidden;
}
form div p {
	margin: 0 0 10px;
}
form div p.help {
	padding-top:0;
	font-size:0.9em;
	color:#999;
}
input[type="radio"],
input[type="checkbox"],
.radio,
.checkbox {
	margin:0 .25em 0 0;
	vertical-align: middle;
}

label {
	display:block;
	font-weight: bold;
	color: #666666;
}
select,
input.field,
.area,
textarea {
	margin: 5px 0;
	padding: 5px;
	*padding:2px;
	*height:2.5em;
	color: #444;
	border-width: 1px;
	border-style: solid;
  	border-color: #D4D4D4 #EBEBEB #EBEBEB #D4D4D4;
	font-size: 12px;
	width: 300px;
}
select {
	cursor:pointer;
	width:auto;
}
textarea,
.area {
	overflow:auto;
	width: 90%;
	height:150px;
}
input:focus,
select:focus,
textarea:focus {
	border-color:#4196ee;
}



/*****--- COMMON STYLE ---*****/

.left {
	float:left;
	margin-right:1em;
}
.right {
	float:right;
	margin-left:1em;
}
.center {
	text-align:center;
}
.clear {
	clear:both;
}
.first {
	margin-left:0 !important;
}
.last {
	margin-right:0 !important;
}
.top {
	margin-top:0 !important;
}
.bottom {
	margin-bottom:0 !important;
}
.hidden{
	display:none;
}



/*****--- STYLE ---*****/

header {
	border-bottom:1px solid #444;
	padding:10px;
}
footer {
	border-top:1px solid #444;
	padding:4px 10px;
	text-align:center;
	color:#666;
	font-size:0.9em;
}
#content {
	padding:0 5px;
}
#source_content_title {
	border-top:1px dotted #ccc;
}
#source_content {
	margin:20px 0;
	border:1px solid #999;
	background-color:#eee;
	padding:1.5em;
}
